// TODO Сделать конфиг

.size-xs
  font-size $font-size-base * $scheme-size.xs;

.size-s
  font-size $font-size-base * $scheme-size.s;

.size-m
  font-size $font-size-base * $scheme-size.m;

.size-l
  font-size $font-size-base * $scheme-size.l;

.size-xl
  font-size $font-size-base * $scheme-size.xl;

.size-xxl
  font-size $font-size-base * $scheme-size.xxl;

.text-center
  text-align center

.text-right
  text-align right

.subheader
  font-family $font-family-light
  color $color-element.subheader;
  font-size .75em

.a
  color $color-theme.primary;
  font-family $font-family-regular
  text-decoration none

.input-not-visible
  &:not(:checked)
  &:checked
    visibility hidden
    opacity 0
    pointer-events none
    position absolute
    z-index -1

.trigger
  display inherit
  position relative