// Размерность:
// 1. В любом независимом блоке устанавливается размер шрифта, равному базовому размеру шрифта.
// 2. Базовый размер зависит от значения размера шрифта для корня документа.
// 3. Все отступы, заполнение, границы, радиус и т.д., указывается на основании размера шрифта блока в em.
// 4. При необходимости уменьшить или увеличить блок необходимо воспользоваться вспомогательными классами.

// Размер шрифта для корня документа
$font-size-root = 10px // calc(0.5em + 1vw)

// Базовый размер шрифта
$font-size-base = 2rem

// Схема множителей:
// s - small (маленький)
// m - medium small (средний - по умолчанию, создавать отдельный мофикатор не нужно)
// l - large (большой)
// xl - extra large (очень большой)
// xxl - extra extra large (очень очень большой)
$scheme-size = {
  "s": .8,
  "m": 1,
  "l": 1.2,
  "xl": 1.4,
  "xxl": 1.6
}

$sizes = map-loop($scheme-size, get-size-by-base)

// Типография:
// Основной шрифт - "Fira Code" (без засечек - sans-serif).
// Запасной шрифт или безопасный шрифт - Tahoma (без засечек).
$font-family-light = "Fira Code Light"
$font-family-regular = "Fira Code Regular"
$font-family-bold = "Fira Code Bold"
$font-family-safe = Tahoma, sans-serif

// Палитра цветов:
$colors = {
  // theme primary light (пока не используется, может пригодиться в будущем)
  blue: #5c67e6,

  // theme primary dark
  darkBlue: #4952b8,

  // theme secondary light (пока не используется, может пригодиться в будущем)
  green: #0abf8a

  // theme secondary dark
  darkGreen: #00bf79,

  // theme info
  lightBlue: #51c5f5,

  // theme warning
  orange: #fcc419,

  // theme error
  coral: #ed5556,

  // light backgrounds
  white: #ffffff,

  // backgrounds
  gray100: #f5f7fa,

  // borders, separators
  gray200: #cfdae6,

  // dark borders
  gray300: #bfccd9,

  // icons, subheaders, placeholders
  gray400: #adbdcc,

  // body text
  gray500: #8595a6,

  // headers, labels
  gray600: #475259,

  // dark backgrounds
  black: #1e2225,
}

// Theme (тема элемента)
// primary - основная (по умолчанию, создавать отдельный мофикатор не нужно)
// secondary - вторичная
// warning - предупреждение
// error - ошибка
// disable - отключенный

$theme = {
  primary: $colors.darkBlue,
  secondary: $colors.darkGreen,
  info: $colors.lightBlue,
  warning: $colors.orange,
  error: $colors.coral,
  disable: (),
}

// Другое, используемой сейчас
$max-width-application = 1200px
$border-radius = .3em
$border-width = .09em