// Размерность:
// 1. В любом независимом блоке устанавливается размер шрифта, равному базовому размеру шрифта.
// 2. Базовый размер зависит от значения размера шрифта для корня документа.
// 3. Все отступы, заполнение, границы, радиус и т.д., указывается на основании размера шрифта блока в em.
// 4. При необходимости уменьшить или увеличить блок необходимо воспользоваться вспомогательными классами.

// Размер шрифта для корня документа
$font-size-root = 10px // calc(0.5em + 1vw)

// Базовый размер шрифта
$font-size-base = 2rem

// Схема множителей:
// xs - extra small (очень маленький)
// s - small (маленький)
// m - medium small (средний - по умолчанию)
// l - large (большой)
// xl - extra large (очень большой)
// xxl - extra extra large (очень очень большой)
$scheme-size = {
  xs: .6,
  s: .8,
  m: 1,
  l: 1.2,
  xl: 1.4,
  xxl: 1.6,
}

$sizes = map-loop($scheme-size, get-size-by-base, $font-size-base)

// Типография:
// Основной шрифт - "Fira Code" (без засечек - sans-serif).
// Запасной шрифт или безопасный шрифт - Tahoma (без засечек).
$font-family-light = "Fira Code Light"
$font-family-regular = "Fira Code Regular"
$font-family-bold = "Fira Code Bold"
$font-family-safe = Tahoma, sans-serif

// Палитра цветов (TODO: сделать отдельную настройку для пользователя):
$color-palette = {
  // theme primary dark
  blue: #4952b8,

  // theme secondary dark
  green: #00bf79,

  // theme info
  lightBlue: #51c5f5,

  // theme warning
  orange: #fcc419,

  // theme error
  coral: #ed5556,

  // light backgrounds
  white: #ffffff,

  // backgrounds
  gray100: #f5f7fa,

  // borders, separators
  gray200: #cfdae6,

  // dark borders
  gray300: #bfccd9,

  // icons, subheaders, placeholders
  gray400: #adbdcc,

  // body text
  gray500: #8595a6,

  // headers, labels
  gray600: #475259,

  // dark backgrounds
  black: #1e2225,
}

// Функциональные цвета (TODO: сделать отдельную настройку для пользователя):
$colors = {
  // Theme (тема элемента)
  // primary - основная (по умолчанию)
  // secondary - вторичная
  // warning - предупреждение
  // error - ошибка
  // disable - отключенный
  theme: {
    primary: $color-palette.blue,
    secondary: $color-palette.green,
    info: $color-palette.lightBlue,
    warning: $color-palette.orange,
    error: $color-palette.coral,
    disabled: $color-palette.gray500,
  },
  background: {
    light: $color-palette.white,
    default: $color-palette.gray100,
    dark: $color-palette.black,
  },
  border: {
    default: $color-palette.gray200,
    dark: $color-palette.gray300,
  },
  text: {
    light: $color-palette.white,
    default: $color-palette.gray500,
    dark: $color-palette.black,
  },
  element: {
    header: $color-palette.gray600,
    icon: $color-palette.gray400,
    subheader: $color-palette.gray400,
    placeholder: $color-palette.gray400,
    label: $color-palette.gray600,
    separator: $color-palette.gray400,
    shadow-light: $color-palette.gray500,
    shadow-default: $color-palette.gray600,
    shadow-dark: $color-palette.black,
  },
}

// Функциональные переменные
// TODO: сделать проверку на наличие определенных полей и добавить по умолчанию если их нет
$color-theme = $colors.theme;
$color-background = $colors.background;
$color-border = $colors.border;
$color-text = $colors.text;
$color-element = $colors.element;

// Другое, используемой сейчас
$max-width-application = 1200px
$border-radius = .3em
$border-width = .09em