$font-size-base = 5rem
$max-width-application = 1200px

// Размерность:
// s - small (маленький)
// m - medium small (средний)
// l - large (большой)
// xl - extra large (очень большой)
// xxl - extra extra large (очень очень большой)

$colors = {
  blueViolet: #4952b8,
  burntSienna: #ed5556,
  jade: #00bf79,
  orange: #fcc419,
  blue: #4c6ef5
}