*
  padding 0
  margin 0
  box-sizing border-box

  &::after
  &::before
    box-sizing inherit

:root
  font-family $font-family-regular
  font-size $font-size-root
  box-sizing border-box
  color $color-text.dark;
  width 100%
  height 100%
  cursor default

body
#container
.application
  height 100%

img
  border 0
  max-width 100%
  height auto

ul
ol
  list-style-type none