.login-page
  font-size $font-size-base

.login-header
  margin-bottom 2em
  text-align center

  &__greeting
    font-family $font-family-bold
    letter-spacing .1em

  // TODO повторяется в user-profile-card
  &__instructions
    font-family $font-family-light
    color $color-element.subheader;
    margin-top .7em
    font-size .75em

.login-form-fields
  margin-bottom 1em

  > *
    margin-bottom 1em

.login-form-controls
  margin-bottom 2em

  &__forgot-password
    font-size .75em
    text-align right

  > *
    margin-bottom 1em

    &:last-child
      margin-bottom 0

.login-footer
  font-family $font-family-light
  color $color-element.subheader;
  font-size .75em
  text-align center