.main-menu
  font-size $font-size-base

  &__item
    display flex
    align-items center
    padding 1em

    >
      &:first-child
        padding .5em
        margin-right .5em
        background-color $color-background.default;
        border-radius .3em

      &:last-child
        padding .5em
        margin-left auto