.page
  font-size $font-size-base

  >
    &:first-child
      margin-top 0

  &__header
    text-align center

  &__main
  &__footer
    margin-top 2em

  &--unauthorized
    display flex
    flex-direction column
    align-items center
    justify-content center
    height 100%