.user-profile-card
  font-size $font-size-base
  display inline-flex
  align-items center

  > *
    margin-bottom .5em

    &:last-child
      margin-bottom 0

.personal-notification-button
  position relative

  &__badge
    position absolute
    right 0
    top 0
    transform translate(50%, -50%)

.personal-data-card
  font-size $font-size-base
  display inline-flex
  flex-direction column
  text-align center
  margin .5em