.alert
  font-size $font-size-base
  border-radius $border-radius
  padding 1em
  color $color-theme.primary;
  background-color lighten(@color, 90%)
  display flex

  &__content
    flex 1

  &__effect
    display flex
    align-items center
    justify-content center
    margin-left .5em
    line-height 0

  &--textual
    padding .5em

  theme-variant(variant-badge, ("primary" "info"))