.alert
  font-size $font-size-base
  border-radius $border-radius
  padding 1em
  color $color-theme.primary;
  background-color lighten(@color, 90%)
  display flex

  &__content
    flex 1
    padding-right .25em

  &__effect
    display flex
    align-items center
    justify-content center
    margin-left .25em
    line-height 0

  &--textual
    padding 0 0 0 .25em
    border-radius 0

  theme-variant(variant-badge)