.avatar
  font-size 2rem
  border-radius 50%
  display inline-flex
  justify-content center
  align-items center
  overflow hidden
  width 2.5em
  height @width
  background-color $color-background.default;

  > img
    height 100%
    width 100%