.avatar
  font-size $font-size-base
  border-radius 50%
  display inline-flex
  justify-content center
  align-items center
  overflow hidden
  width 3.5em
  height @width
  background-color $color-background.default;

  > img
    height 100%
    width 100%