.badge
  font-size 2rem
  display inline-block
  color $colors.blueViolet
  background-color lighten(@color, 90%)
  border-radius 1em
  text-transform uppercase
  padding .5em 1em
  font-weight bold

  &--cancelled
    color $colors.burntSienna
    background-color lighten(@color, 90%)

  &--completed
    color $colors.jade
    background-color lighten(@color, 90%)

  &--squared
    border-radius .3em
    
  &--circled
    display inline-flex
    border-radius 50%
    justify-content center
    align-items center
    min-width 1.4em
    padding .2em

    &::before
      content ''
      float left
      width auto
      padding-bottom 100%