.button
  font-size $font-size-base
  display inline-flex
  justify-content center
  align-items center
  border $border-width solid $color-border.default;
  border-radius $border-radius
  outline none
  padding .25em
  color $color-text.dark;
  background-color $color-background.light;
  user-select none

  &__caption
    margin .25em

  &__extra
    display inline-flex
    justify-content center
    align-items center

  &--circled
    border-radius 1em

  &--no-stroke
    border-color @background-color

  theme-variant(variant-button)