.calendar
  font-size $font-size-base
  padding .25em
  border $border-width solid $color-border.default;
  border-radius $border-radius
  display inline-block

  &__header
    display flex
    justify-content space-between
    align-items center
    margin .55em
    font-weight bold
    text-transform capitalize
    user-select none

  &__week-days
  &__week
    margin 0 -.1em

  &__week-days
    font-weight bold
    text-transform capitalize
    user-select none

  &__day
    display inline-block
    margin .1em
    width 2em
    height @width
    text-align center
    line-height @height
    border-radius 50%

    &--selected
      color $color-text.light;
      background-color $color-theme.primary;

    &--outside
      color $color-element.placeholder;