.checkbox
  font-size 2rem
  display inline-flex
  align-items center

  &__input
    display inline-flex
    width 1.5em
    height @width
    color $colors.white;
    border $border-width solid $colors.gray200;
    background-color $colors.white;
    border-radius $border-radius
    justify-content center

    ^[0] input:checked + &
      border-color $theme.primary;
      background-color $theme.primary;

  &__caption
    margin-left .4em