.checkbox
  font-size 2rem
  display inline-flex
  align-items center
  cursor pointer

  &__input
    display inline-flex
    width 1em
    height @width
    background-color white
    border .1em solid #dde3e8
    border-radius .25em
    position relative
    justify-content center

    ~/:hover &
      border-color #1791fe

  &__caption
    margin-left .5em