.checkbox
  font-size 2rem
  display inline-flex
  align-items center

  &__input
    display inline-flex
    width 1.5em
    height @width
    color $colors.white;
    border .09em solid $colors.gray200;
    background-color $colors.white;
    border-radius .3em
    justify-content center

    ^[0] input:checked + &
      border-color $colors.blue;
      background-color $colors.blue;

  &__caption
    margin-left .5em