.dropdown
  position absolute
  left 0
  top 100%
  min-width 100%
  border $border-width solid $color-theme.primary;
  border-radius 0 0 $border-radius $border-radius
  overflow hidden
  z-index $z-index-dropdown
  background-color $color-background.light;

  &__main
  &__header
  &__footer
    padding .25em

  &__header
    text-align center

  &__main
    text-align center

  &__footer
    display flex
    justify-content flex-end
    border-top $border-width solid $color-border.default;

    > *
      margin-left .25em

      &:first-child
        margin-left 0