.file-loader
  font-size $font-size-base
  color $color-theme.primary;
  border .12em solid currentColor
  padding .12em
  border-radius .7em

  &__load-line
    background-color currentColor
    height .25em
    border-radius @border-radius
    transition width .25s