.file-loader
  font-size 2rem
  color $color-theme.primary;
  border .12em solid currentColor
  padding .12em
  border-radius .7em
  min-width 10em

  &__load-line
    background-color currentColor
    height .25em
    border-radius .7em
    transition width .25s