.form-control
  font-size $font-size-base
  display flex
  align-items center
  color $color-palette.gray-200;
  border $border-width solid @color
  border-radius $border-radius
  background-color $color-background.light;
  width 100%
  overflow hidden

  &__extra
  &__effect
    display inline-flex
    align-items center
    justify-content center
    padding .5em
    order 2

  &__extra
    background-color $color-background.default;
    border-right @border
    border-color currentColor
    order 0

  &__control
    width 100%
    margin .425em
    height $input-line-height * $font-size-base
    line-height @height
    order 1

  theme-variant(variant-form-control)

  &--dropdown
    border-bottom-color transparent
    border-radius @border-radius @border-radius 0 0