.form-control
  font-size 2rem
  color $colors.gray200;
  background-color $colors.white;
  border .09em solid currentColor
  border-radius .3em
  display flex
  align-items center
  width 100%
  max-width 53.2em
  overflow hidden

  &__extra
  &__effect
  &__component
    display inline-flex
    align-items center
    justify-content center

  &__extra
    background-color $colors.gray100;
    padding  .5em
    border-right .09em solid currentColor

  &__effect
    margin-left .5em

  &__component
    width 100%
    padding .35em .5em

  &--active
    color $colors.gray500;