.form-field
  display inline-block
  font-size 2rem

  &__label
    font-weight bold

  &__content
    margin-top .4em

  &__hints
  &__errors
    font-size .75em
    margin-top .53em
    font-family 'Fira Code Light', $spare-font
    color $colors.gray400;
    text-transform capitalize