.form-field
  font-size $font-size-base

  &__header
    display flex
    align-items center
    margin-bottom .25em

  &__label
    color $color-element.label;
    margin-right .5em

  &__required
    margin-left auto
    color $color-theme.error;

  &__hints
  &__errors
    font-size .75em
    margin-top .53em
    font-family $font-family-light
    color $color-element.subheader;

  &__errors
    color $color-theme.error;