.icon
  display inline-flex
  justify-content center
  align-items center
  color currentColor
  stroke @color
  stroke-width 0

  &--bold
    stroke-width 1

  &--size-s
    font-size .8em

  &--size-m
    font-size 1em

  &--size-l
    font-size 1.2em

  &--size-xl
    font-size 1.4em

  &--size-xxl
    font-size 1.6em