.input
  font-size inherit
  font-family "Fira Code Light", $font-family-safe
  border none
  outline none
  display block
  width 100%
  appearance none
  background-color $colors.white;
  color $colors.gray400;

  &--active
    color $colors.gray600;

  &::placeholder
    color @color