.input
  font-size inherit
  font-family $font-family-light
  border none
  outline none
  display block
  width 100%
  appearance none
  background-color $color-background.light;
  color $color-element.placeholder;
  text-overflow ellipsis

  &:focus
    color $color-element.header;

  &::placeholder
    color @color

  &:autofill
  &:-webkit-autofill
    box-shadow 0 0 0 25px $color-background.light inset