.input
  font-size inherit
  font-family $font-family-light, $font-family-safe
  border none
  outline none
  display block
  width 100%
  appearance none
  background-color $color-background.light;
  color $color-element.placeholder;

  &--primary
    color $color-element.header;

  &::placeholder
    color @color