$track-size = .6em
$track-factor = 3 * $track-size

.loader
  font-size $font-size-base
  width 5em
  height 5em
  padding $track-size
  border-radius 50%
  background $color-background.default;
  overflow hidden

  &__circle
    width 100%
    height 100%
    border-radius inherit
    background linear-gradient(0deg, $color-theme.primary, $color-theme.primary),
               linear-gradient(0deg, $color-theme.primary 30%, $color-background.default 60%)
    background-size 50% 100%, 51% 100%
    background-position 0 0, 100% 0
    background-repeat no-repeat, no-repeat
    position relative
    animation spin 1.2s linear 0s infinite

    &:before
      position absolute
      content ''
      width ($track-factor / 2)
      height ($track-factor / 2)
      background-color $color-theme.primary;
      border-radius inherit
      top 0
      left 40%

  &__placeholder
    position absolute
    background-color $color-background.default;
    top 50%
    left 50%
    width 'calc(100% - %s)' % ($track-factor)
    height 'calc(100% - %s)' % ($track-factor)
    border-radius inherit
    transform translate(-50%, -50%)

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}