// TODO: вынести в настройку ссылку на логотип
.logotype
  font-size $font-size-base
  display inline-flex
  align-items center

  &__placeholder
    width 150px
    height 150px
    background-image url("~@assets/images/logotype.svg")
    background-repeat no-repeat
    background-position center
    background-size contain