// TODO: вынести в настройку ссылку на логотип
.logotype
  font-size $font-size-base
  display inline-flex
  flex-direction column
  align-items center

  &__placeholder
    width 100px
    height 100px
    background-image url("~@assets/images/engine.png")
    background-repeat no-repeat
    background-position center
    background-size contain