.modal
  font-size $font-size-base
  padding 1em

  &__header
    display flex
    align-items center

    > span
      margin auto
      text-align center
      padding-right .25em

  &__main
    margin-top 1em