.pagination
  font-size $font-size-base
  display inline-flex
  border-width $border-width
  border-style solid
  border-color $color-border.default;
  border-radius $border-radius
  user-select none
  overflow hidden

  &__page
    display inline-block
    padding .1em
    border-right-width @border-width
    border-right-color @border-color
    border-right-style solid
    color $color-theme.primary;
    background-color $color-background.light;

    &--disabled
      color $color-element.placeholder;
      background-color $color-background.default;

    &:last-child
      border none

  &__page-content
    width 2em
    height @width
    text-align center
    line-height @height

    &--selected
      color $color-text.light;
      background-color $color-theme.primary;
      border-radius $border-radius
      box-shadow 0 1px 3px rgba($color-element.shadow-dark, .5);