.radio
  font-size 2rem
  display inline-flex
  align-items center

  &__input
    display inline-block
    height 1.5em
    width @height
    border-radius 50%
    position relative
    flex-shrink 0
    color $color-text.light;
    border $border-width solid $color-border.default;
    background-color $color-background.light;

    ^[0] input:checked + &
      border-color $color-theme.primary;
      background-color $color-theme.primary;

    &:before
    &::before
      content ''
      position absolute
      width (@width / 2)
      height @width
      top 50%
      left 50%
      transform translate(-50%, -50%)
      background-color currentColor
      border-radius inherit

  &__caption
    margin-left .4em
    user-select none