.toggle
  &__input
    display inline-block
    height 1.5em
    width $w = @height * 1.7
    border-radius (@height / 2)
    background-color $color-element.placeholder;
    box-shadow 0 1px 3px rgba($color-element.shadow-dark, .35)
    position relative
    flex-shrink 0
    transition background-color .25s

    ^[0] input:checked + &
      background-color $color-theme.secondary;

    &:before
    &::before
      content ''
      position absolute
      top 0
      left 0
      height @height
      width @height
      border-radius 50%
      background-color $color-background.light;
      transform scale(.8)
      transition left .25s

      ^[0] input:checked + &
        left 'calc(100% - %s)' % (@width)