.trigger
  display inline-block
  position relative

.tooltip
  position absolute

  &--top
  &--bottom
    left 50%
    transform translateX(-50%)

  &--top
    bottom 150%

  &--bottom
    top 150%

  &__content
    font-size 2rem
    display inline-flex
    border-radius .3em
    padding .5em
    color $color-text.light;
    background linear-gradient(90deg, $color-element.shadow-default, $color-element.shadow-dark)
    position relative
    box-shadow 0 5px 8px rgba($color-element.shadow-dark, .35);
    min-width 4em
    min-height 1.8em
    white-space nowrap

    &:before
    &::before
      content ''
      position absolute
      width 0
      height 0

      ^[0]--top &
      ^[0]--bottom &
        left 50%
        transform translateX(-50%)
        border-left .2em solid transparent
        border-right .2em solid transparent

      ^[0]--top &
        top 100%
        border-top .3em solid mix($color-element.shadow-default, $color-element.shadow-dark)

      ^[0]--bottom &
        bottom 100%
        border-bottom .3em solid mix($color-element.shadow-default, $color-element.shadow-dark)